# Settings for database
DB_HOST=localhost
DB_NAME=task_manager
DB_USER=root
DB_PASSWORD=root

# Main setting
APP_PORT=8000
DJANGO_SECRET=django-insecure-zs*)%(pzr(%+rq8s@8z4k9okw8k$7d%mq6ac=0fgjku*^(_05s
